@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
  --primary: #05445E;
  --secondry: #189AB4 ;
  --tertiary: #75E6DA ;
  --border : #D4F1F4 ;
  --linkText : #6b6b84;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito",Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--border);
  outline:none;
  padding: 15px;
  font-size: 16px;
}
input:focus {
  border:2px solid var(--secondry)
}

label {
  align-self: flex-start;
}
