/* Layout */
.childrenContainer {
  max-width: 1200px;
  margin: 0 auto;
}
/* Layout */

/* Navbar */

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: var(--primary);
  width: 100%;
  color: white;
  font-size: 18px;
}
.navbarMenuContainer{
  display: none;
}
.navbarImage {
  width: 300px;
}
.navbarMenu {
  position: absolute;
  z-index: 401;
  background: white;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.75);
  border-radius: 5px;
  right: 10px;
  padding: 10px 40px;
}
.navbarMenuContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbarLinkText {
  color: var(--linkText);
  transition-duration: .5s;
  text-decoration: none;
}
.navbarLinkText:hover {
  color:#2067d3
}
/* Navbar */

/* Footer */
.footerContainer{
  border-top: 1px solid #f3f2ee;
  margin: 10px 0 0 0;
  font-size: 18px;
  color: var(--linkText);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerLinkText {
  text-decoration: none;
  margin-left:20px ;
  color: var(--linkText);
  transition-duration: .5s;
}

.footerLinkText:hover {
  color:#2067d3
}

/* Footer */

/* login */

.loginContainer {
  width: 500px;
  padding: 20px;
  margin: 70px auto;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.75);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
  font-size: 18px;
}
.loginInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.loginShowPassword {
  position: absolute;
  right:10px;
  bottom:3px;
  cursor: pointer;
}
.button {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border:none;
  background-color: var(--tertiary);
  font-size: 18px;
  color: var(--primary);
  transition-duration: 1000ms;
  cursor: pointer;
}
.button:hover {
  color: var(--tertiary);
  background-color: var(--primary);
}
.loginFooterText {
  align-self: left;
  width: 100%;
  margin-top: -5px;
  font-size: 16px;
  color:var(--linkText) ;
}
.loginLink {
  text-decoration: none;
  color:var(--primary);
  font-size: 18px;
  transition-duration: .5s;
  cursor: pointer;
}
.loginLink:hover {
  color: #2067d3;
}

.registerFooterText {
  align-self: left;
  width: 100%;
  margin-top: -5px;
  font-size: 16px;
  color:var(--primary) ;
  cursor: pointer;
  transition-duration: .5s;
}
.registerFooterText:hover {
  color: #2067d3;
}

/* login */

/* map */
.mapButton {
  padding: 12px;
  border-radius: 5px;
  border:none;
  background-color: var(--tertiary);
  font-size: 18px;
  color: var(--primary);
  transition-duration: 1000ms;
  cursor: pointer;
  margin: 5px 5px 0 0;
}
/* map */

@media only screen and (max-width: 1024px) {
  /* Layout */
.childrenContainer {
  margin: 0 15px;
}
/* Layout */
}


@media only screen and (max-width: 768px) {
  /* navbar */
  .navbarContainer {
    padding: 10px 10px;
  }
  .navbarRightSide {
    display: none;
  }
  .navbarMenuContainer{
    display: block;
  }
  /* navbar */

  /* Footer */
.footerContainer{
  font-size: 18px;
  color: var(--linkText);
  display: block;
  text-align: center;
}
/* Footer */

/* logın */
.loginContainer {
  width: 300px;
}

/* logın */
}



