/* Navbar */

.layoutContainer {
  margin: 0;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: var(--primary);
  width: 100%;
  color: white;
  font-size: 18px;
}
.navbarMenuContainer{
  display: none;
}
.navbarRightSide {
  display: flex;
  gap: 20px;
}
.navbarMenu {
  position: absolute;
  z-index: 2;
  background: white;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.75);
  border-radius: 5px;
  right: 10px;
  padding: 10px 40px;
  color: black;
  transition: all .10s;
}
/* Navbar */


@media only screen and (max-width: 1024px) {
  /* Navbar */
  
  /* Navbar */
}

/*  */
@media only screen and (max-width: 768px) {
  .navbarContainer {
    padding: 10px 10px;
  }
  .navbarRightSide {
    display: none;
  }
  .navbarMenuContainer{
    display: block;
  }
}

